extends index
block footer
    .page-footer.font-small.footer-text
      .footer-copyright.text-center.py-3
        span Created by 
          a(href="https://github.com/hyperbcs") HyperBCS
        br
        span Database last updated: 
        = date