extends head

block content
  .container-fluid.main#main
    .row
      .col-auto.pr-0
        a(href='/' style="color:black;text-decoration : none")
          h1.h1 osuF
            span.h6 armers
            span.h1 M
            span.h6 arket
      .col.d-flex.justify-content-end.my-auto.pl-0
        .switch#themeEle.mt-auto(style="display:none")
          label
            i.fas.fa-moon
            input#theme(type='checkbox')
            span.lever
            i.fas.fa-sun

    form#filterForm(onsubmit="applyFilter()")
      input#mods(style="display:none", name='mods', value=0)
      input#modsMaybe(style="display:none", name='modsMaybe', value=0)
      input#page(style="display:none", name='page', value=1)
      input#ml(style="display:none", name='ml', value=0)
      input#xl(style="display:none", name='xl', value=Number.MAX_SAFE_INTEGER)
      input#mode(style="display:none", name='m', value=0)
      .container
      .row
        .col
          nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
              .col.d-flex.d-none.d-sm-block.d-lg-none.md-form.p-0.my-0
                  input#searchBox1.form-control(type='text' aria-label='Search' name='n1')
                  label(for="searchBox1") Search
              .col-auto.button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                .col-auto
                  .row
                    ul.navbar-nav.mr-auto
                      li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle.custom-grey.dropButton(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                          | Standard
                        .dropdown-menu.navbar-custom(aria-labelledby='navbarDropdown',name='mode')
                          a.dropdown-item.custom-grey(onclick="$('#mode').val(0)" mode=0) Standard
                          a.dropdown-item.custom-grey(onclick="$('#mode').val(1)" mode=1) Taiko
                          a.dropdown-item.custom-grey(onclick="$('#mode').val(2)" mode=2) Catch the Beat
                          a.dropdown-item.custom-grey(onclick="$('#mode').val(3)" mode=3) Mania
                          .dropdown-divider
                          a.dropdown-item.custom-grey(onclick="$('#mode').val(-1)") All
                      li.nav-item.dropdown
                        a.nav-link.dropdown-toggle.custom-grey.dropButton(role="button",data-toggle="collapse", data-target="#filters", id='filter') Map Filters
                .col.d-none.d-lg-block
                    .my-lg-0.d-flex.md-form
                      input#searchBox2.form-control.mr-sm-2(type='text' aria-label='Search' placeholder="Search" name='n2')
      br
      .collapse#filters
        .container#mods
          .checkbox
            h4 Mods
            .col
              .row
                label.form-check.form-check-inline.col.col-6.col-md-auto
                  input.form-check-input(type='checkbox', value=64, id='DT')
                  label.form-check-label(for='DT') Double Time
                label.form-check.form-check-inline.col.col-6.col-md-auto
                  input.form-check-input(type='checkbox', value=8, id='HD')
                  label.form-check-label(for='HD') Hidden
                label.form-check.form-check-inline.col.col-6.col-md-auto
                  input.form-check-input(type='checkbox', value=16, id='HR')
                  label.form-check-label(for='HR') Hard Rock
                label.form-check.form-check-inline.col.col-6.col-md-auto
                  input.form-check-input(type='checkbox', value=2, id='EZ')
                  label.form-check-label(for='EZ') Easy
                label.form-check.form-check-inline.col.col-6.col-md-auto
                  input.form-check-input(type='checkbox', value=1024, id='FL')
                  label.form-check-label(for='FL') Flashlight
                label.form-check.form-check-inline.col.col-6.col-md-auto
                  input.form-check-input(type='checkbox', value=-1, id='NO')
                  label.form-check-label(for='NO') No Mod
        br
        .container#performance
          h4 PP options
          .form-group.row
            .col
              .md-form
                input.form-control(type='number', name='mpp', id="mpp" min=0 inputmode="decimal")
                label(for="mpp") Min PP
            .col
              .md-form
                input.form-control(type='number', name='xpp', value=MAX_SAFE_INTEGER, id="xpp" min=0 inputmode="decimal")
                label(for="xpp") Max PP
        .container#options
          h4 Map Options
          .form-group.row
            .col-12.col-lg-3
              #min_len.input-group.date.md-form(data-target-input='nearest')
                input.form-control.datetimepicker-input(type='text' data-target='#min_len', data-toggle='datetimepicker' id="min_len_inp" placeholder="00:00:00" inputmode="none")
                label(for="min_len_inp") Min Length
                .input-group-append(data-target='#min_len' data-toggle='datetimepicker' )
            .col-12.col-lg-3
              #max_len.input-group.date.md-form(data-target-input='nearest')
                input.form-control.datetimepicker-input(type='text' data-target='#max_len', data-toggle='datetimepicker' id="max_len_inp" placeholder="00:00:00" inputmode="none")
                label(for="max_len_inp") Max Length
                .input-group-append(data-target='#max_len' data-toggle='datetimepicker' )
            .col-6.col-lg-3
              .md-form
                input.form-control(type='number', name='mb', id="mb" min=0 inputmode="decimal")
                label(for="mb") Min BPM
            .col-6.col-lg-3
              .md-form
                input.form-control(type='number', name='xb', value=MAX_SAFE_INTEGER, id="xb" min=0 inputmode="decimal")
                label(for="xb") Max BPM
        .container.perfOption#perfOptions
          h4 Map Difficulty Options
          .form-group.row
            .col
              .row
                .col.text-center
                  input#len_diff(type='text')
              .row
                .col
                  .md-form
                    input.form-control(type='number', name='md', value=0, id="md" min=0 max=15 step="0.01" inputmode="decimal")
                    label(for="md") Max Stars
                .col
                  .md-form
                    input.form-control(type='number', name='xd', value=15, id="xd" min=0 max=15 step="0.01" inputmode="decimal")
                    label(for="xd") Max Stars
            .col
              .row
                .col.text-center
                  input#len_ar(type='text')
              .row
                .col
                  .md-form
                    input.form-control(type='number', name='mar', value=0, id="mar" min=0 max=11 step="0.1" inputmode="decimal")
                    label(for="mar") Max AR
                .col
                  .md-form
                    input.form-control(type='number', name='xar', value=11, id="xar" min=0 max=11 step="0.1" inputmode="decimal")
                    label(for="xar") Max AR
            .col
              .row
                .col.text-center
                  input#len_cs(type='text')
              .row
                .col
                  .md-form
                    input.form-control(type='number', name='mcs', placeholder='Min CS',  mode = 0, value=0, id="mcs" min=0 max=10 step="0.1" inputmode="decimal")
                    label#csLabelMin(for="mcs") Max CS
                .col
                  .md-form
                    input.form-control(type='number', name='xcs', placeholder='Max CS', mode = 0, value=10, id="xcs" min=0 max=10 step="0.1" inputmode="decimal")
                    label#csLabelMax(for="xcs") Max CS
        .container
          .row
            .col.d-flex.justify-content-center
              button#resetBtn.btn.btn-outline-warning(type='submit') Reset Filter
            .col.d-flex.justify-content-center
              button#filterBtn.btn.btn-outline-success(type='submit') Apply Filter


    div.table-responsive.d-none.d-lg-block#table
      table#tableData.table
        thead
          tr.table-text
            th #
            th
            th Map
            th.font-weight-bold(style="width: auto") Farm Score
            th PP
            th Acc
            th Mods
            th Length
            th BPM
            th Stars
        tbody#data_body
        tbody#data_body_dummy(style="display:none")
    div.d-block.d-lg-none#tableMobile
    .row
      .col-12.col-md-4.d-flex.justify-content-center.mt-3
        div#pages
      .col-12.col-md-4.d-flex.justify-content-center.mb-4
        .dropdown
          button#pageNum.dropButton.btn.dropdown-toggle.custom-grey.navbar-custom(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Maps Per Page
          .dropdown-menu.navbar-custom#dropdownMenuButton(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(num=10) 10
            a.dropdown-item(num=25) 25
            a.dropdown-item(num=50) 50
            a.dropdown-item(num=100) 100
            a.dropdown-item(num=250) 250
      .col-12.col-md-4.d-flex.justify-content-center.mt-3
        p#numEntries showing 10 of 10
  #btnTop.fixed-action-btn.smooth-scroll(style='bottom: 1vh; right: 1vh;display: none;')
    a.btn-floating.btn-large.blue(href='#filterForm')
      i.fa.fa-arrow-up


