extends head

block content
  h1= title

  h2 Users

  ul
  div
    table.table
      thead
        tr
          th UID
          th ACC
          th PP
      tbody
        each user, i in users
          tr
            td 
              p= user.uid
            td
              p= user.acc
            td
              p= user.pp