doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block header
  body(onload="getTableData(1)")
    block content
  footer
    block footer
