.navbar-custom,.dropdown-item a {
    background-color: #007bff;
  }

  #searchBox1,#searchBox1:active,#searchBox2,#searchBox2:active {
    color :white !important;
    
  }

  .navbar .dropdown-menu a:not(.active), .dropdown-item{
    color: white !important;
  }

  .dropButton:hover{
    color: #dcddde;
  }

  .dropButton{
    color: white;
  }

  a{
    color:  black;
  }

#searchBox1:focus:not([readonly]) + label,#searchBox2:focus:not([readonly])  {
  color: white;  !important; 
}

#searchBox1:focus:not([readonly]),#searchBox2:focus:not([readonly])  {
  border-bottom: 1px solid white !important; 
  box-shadow: unset !important; 
}

span.fa.fa-arrow-up,span.fa.fa-arrow-down {
  color: #007bff !important;
}

  .form-control::-webkit-input-placeholder { color: #dcddde; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: #dcddde; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: #dcddde; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: #dcddde; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: #dcddde; }  /* Microsoft Edge */
  .d-flex.md-form>label { color: #dcddde; }